# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build artifacts and cache
*.log
*.tgz
build/
.cache/

# Large backup files
*_old.jpg
*_old.png

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Native
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.local
.env.development
.env.production

# typescript
*.tsbuildinfo
a n d r o i d - c o r r u p t e d / 
 
 